* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(250, 73, 73), #7eff4b);
}

header nav {
  padding: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  transition: 0.5s;
  border: 3px solid;
  padding: 4px;
}

header nav ul li a:hover {
  background-color: black;
  color: #fff;
  border: none;
}

main h1 {
  text-align: center;
}

.sliding {
  overflow: hidden;
}

.parent {
  display: flex;
  width: 400vw;
  transition: 1.5s ease-in-out;
}

.slider {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.slider img {
  width: 150px;
  height: 150px;
}

.left {
  border: 1px solid;
  margin: 30px 0 0 20px;
}

.left .imgOne,
.imgTwo {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
}

.left .imgOne p,
.imgTwo p {
  margin: 15px;
}

.left .imgOne div,
.imgTwo div {
  padding: 15px;
}

.right {
  position: absolute;
  right: 15%;
  border: 1px solid;
  width: 300px;
}

.right h3 {
  font-size: 29px;
  padding: 15px;
  text-align: center;
}

.right p {
  text-align: center;
  margin: 15px;
}

.right button {
  margin: 10px;
  margin-left: 85px;
  background-color: black;
  width: 130px;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  margin-top: 100px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

footer ul li {
  font-size: 30px;
}